<div id="login_panel" class="login-bg}">
    <div class="oa-login-company-title">
        <span class="oa-company-title">CCC Office Admin (bate)</span>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div id="content2" class="col-sm-12 full">
                <div class="row" ng-class="'fx-zoom-up fx-ease-in-quad fx-dur-1500 fx-stagger-500'">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 oa-login-box">
                        <form ng-submit="submitLogin()">
                            <fieldset class="col-sm-12">
                                <span class="oa-login-title">Welcome to the CCC Office Admin System</span>

                                <div class="input-prepend input-group form-group">
                                    <input id="usernameInput" class="form-control" size="16" type="text"
                                           placeholder="Enter UserName" ng-model="user.username" tabIndex="1"
                                           ng-change="error.errorLogin=false" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info oa-login-input-btn" type="button"><i
                                                class="glyphicon glyphicon-user"></i></button>
                                    </span>
                                </div>
                                <div class="input-prepend input-group form-group">
                                    <input id="prependedInput" class="form-control" size="16" type="password"
                                           placeholder="Enter Password" ng-model="user.password" tabIndex="2"
                                           ng-change="error.errorLogin=false" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info oa-login-input-btn" type="button"><i
                                                class="fa fa-unlock"></i></button>
                                    </span>
                                </div>
                                <div class="input-prepend input-group form-group confirm oa-login-group">
                                    <input type="checkbox" id="remember" tabIndex="3"/>
                                    <label for="remember" class="oa-login-remember">Remember me</label>
                                    <a ng-click="showFindPassword = true" class="oa-login-find">Find your password</a>
                                </div>
                                <span class="oa-login-title" ng-show="error.errorLogin"> {{error.errorMsg}}</span>

                                <div class="oa-login-btn">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabIndex="4">Login
                                    </button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <!--/col-->
                </div>
                <!--<div class="row" ng-show="showFindPassword">
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 oa-login-box">
                        <form ng-submit="findYourPassword()">
                            <fieldset class="col-sm-12">
                                <span class="oa-login-title">Find Your Password</span>

                                <div class="input-prepend  form-group">
                                    <input class="form-control" size="16" type="text"
                                           placeholder="Enter UserName" ng-model="findUser.username" required
                                           ng-change="error.errorLogin=false">
                                </div>
                                <div class="input-prepend form-group">
                                    <input class="form-control" size="16" type="email"
                                           placeholder="Enter Email" ng-model="findUser.email" required
                                           ng-change="error.errorFind=false">
                                </div>
                                <span class="oa-login-title" ng-show="error.errorFind"> {{error.errorMsg}}</span>

                                <div class="oa-login-btn oa-login-text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Send</button>
                                    <button type="button" class="btn btn-primary btn-lg"
                                            ng-click="showFindPassword = false">Back
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>-->
                <!--/row-->
            </div>
            <!--/row-->
        </div>
        <!--/content-->
    </div>
    <!--/row-->
</div><!--/container-->